name: build-test

on:
  push:
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: cd perday-music && npm ci
      - run: cd perday-music && npm test -- --silent
      - run: cd perday-music && npm run build
